
<div class="form-group">
    <label for="nuidTxt" class="col-sm-2 control-label">NUID</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="nuidTxt">
    </div>
</div>
<div class="form-group">
    <label for="keyTxt" class="col-sm-2 control-label">Secret Key</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="keyTxt" >
    </div>
</div>
<div class="form-group">
    <label for="frmTxt" class="col-sm-2 control-label">Firmware Version</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="frmTxt" >
    </div>
</div>
<div class="form-group">
    <label for="netNumTxt" class="col-sm-2 control-label">Network Number</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="netNumTxt" >
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" id="add" class="btn add btn-default">Submit</button>
    </div>
</div>