<div class="modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Do you really want to delete control for <%- address %></h4>
            </div>
            <div class="modal-body">
                <div class="modal-footer">
                    <button id="yes" class="btn btn-default">Yes</button>
                    <button id="no" class="btn" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>