<div class="modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div id="title" class="modal-title text-danger"></div>
            </div>
            <div class="modal-body">
                <div id="message" class="text-danger"></div>
            </div>
            <div class="modal-footer">
                <button id="ok" tabindex="0" type="button" data-dismiss="modal" class="btn ok btn-default">OK</button>
            </div>
        </div>
    </div>
</div>