<div class="row">
    <div class="col-md-12">
        <button type="button" id="statusId" class="btn btn-link">Bridge Status</button>
    </div>
    <div class="col-md-12">
        <button type="button" id="conId" class="btn btn-link">Connections</button>
    </div>
    <div class="col-md-12">
        <button type="button" id="orId" class="btn btn-link">Outgoing Requests</button>
    </div>
    <div class="col-md-12">
        <button type="button" id="devId" class="btn btn-link">Cached Devices</button>
    </div>
</div>