
<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="sidebar-menu">
        <ul class="nav navbar-nav" id="side-menu">
            <li><a href="#" id="home"><i class="fa fa-home fa-fw"></i> Home</a></li>
            <li><a href="#" id="conn"><i class="fa fa-bolt fa-fw"></i> Connections</a></li>
            <li><a href="#" id="outreq"><i class="fa fa-paper-plane fa-fw"></i> Outgoing Requests</a></li>
            <li><a href="#" id="cacdev"><i class="fa fa-university fa-fw"></i> Cached Devices</a></li>
        </ul>
    </div>
</nav>