<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%- nuid %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
        <table>
            <tbody>
                <tr>
                    <td class="field col-md-3">Connection Count:</td>
                    <td><%- concnt %></td>
                </tr>
                <tr>
                    <td class="field col-md-3">Report Count:</td>
                    <td><%- rptcnt %></td>
                </tr>
                <tr>
                    <td class="field col-md-3">Reading count:</td>
                    <td><%- rdngcnt %></td>
                </tr>
                <tr>
                    <td class="field col-md-3">Duplicate Report Count:</td>
                    <td><%- dupRptsCnt %></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>